*.html
*.kra
*.pkg
*.pyz
*.spec
*.toc
*.zip
*.xml

/.idea
/build/kuvatus
/src/img/old

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
